@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
  padding: 0;
  margin: 0;
}
.wrapper{
  background: #cc99ff;
  background-size: cover;
  height: 100vh;
}
.navbar{
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
.navbar .logo{
  width: 240px;
  height: auto;
  margin-top: -98px;
  padding: 20px 100px;
  margin-left: -40px;
}
.navbar ul{
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 6px 13px;
  text-decoration: none;
  transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
  background: red;
  border-radius: 2px;
}



body{
font-size: 120%;
background:#F8F8FF;

}
.header{
width: 30%;
margin: -25px auto 0px ;

color:white;
background: #bf00ff;
text-align: center;
border: 2px solid #B0C4DE;
border-bottom: none;
border-radius: 10px 10px 0px 0px;
padding:10px;


}



form{

  width: 30%;
  margin: 0px auto;
  padding: 10px;
  border: 2px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;

}

.input-group{
  margin: 10px 0px 10px 0px;

}

.input-group label{
  display: block;
  text-align: left;
  margin: 3px;

}

.input-group input{
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;

}

.btn{
  padding: 10px;
  font-size: 15px;
  color: white;
  background:#bf00ff ;
  border: none;
  border-radius: 5px;
}

.error{
  width:92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color:#a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}







