{% extends "base.html" %}
{% load static %}

{% block style %}
 <link rel="stylesheet" href="{ % static 'CSS/style2.css'%}">
{% endblock style %}

 
{% block content  %}

  <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="6.png" alt="Team_image">
        </div>
        <h3>What we do For You </h3>

        <p>generate code.........................</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="12.png" alt="Team_image">
        </div>
        <h3>What you need to do</h3>

        <p>just speak ..............................</p></div>

    </div>
{% endblock content  %}

</body>
</html>