{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<link rel="stylesheet" href="{ % static 'CSS/style3.css'%}">
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
				<img class="logo" src="66.png">
				<ul>
					<li><a class="active" href="home.html">Home</a></li>
					<li><a href="service.html">Services</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="register.html">Sign Up</a></li>
				</ul>



  <div class="contact-form">
    <h1>Contact Us</h1>
    <div class="txtb">
      <label>Full Name :</label>
      <input type="text" name="" value="" placeholder="Enter Your Name">
    </div>

    <div class="txtb">
      <label>Email :</label>
      <input type="email" name="" value="" placeholder="Enter Your Email">
    </div>

    <div class="txtb">
      <label>Phone Number :</label>
      <input type="text" name="" value="" placeholder="Enter Your Phone Number">
    </div>

    <div class="txtb">
      <label>Message :</label>
      <textarea></textarea>
    </div>
    <a class="btn">Send</a>
  </div>

</div>
</body>
</html>