{% extends "base.html" %}

{% load static %}


	
	
{% block style  %}
<link rel="stylesheet" href="{ % static 'CSS/style1.css'%}" >
{% endblock style %}
{% block content %}


<div class="container">
  <h1 class="text-center  mt-5">
    Speech to text
  </h1>

    <div class="form-group">
      <textarea id="textbox" rows="5" class="form-control">
</textarea>
    </div>

    <div class="form-group">

      <button id="recordButton"class="btn btn-danger btn-block">

      Speak
      </button>

<p id="instructions"> Press The speak Button</p>



    </div>
</div>

{% endblock content %}

{% block js %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'JS/script.js' %}"></script>


{% endblock js %}

	</body>
	</html>